/* Global rules */
.topnav {
    margin: auto;
    background-color: #2BBBD8;
    max-height: 10%;
    overflow: hidden;
    
}

.topnav a {
    float: left;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    max-height: 22px;
}

.topnav a.hover, .active {
    background-color: #FCD271;
    height: max-content;
}

.topnav .icon {
    display: none;
}

#ghIcon, #liIcon{
     text-align:justify

}
.navLogo{
    height: 1em;
    display: inline-block;
}

/* Responsive rules - apply when screen width is less than 1200px */

@media screen and (max-width: 1199px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    
    .topnav a.icon {
        float: right;
        display: block;
    }
    
    .topnav.responsive {
        position: relative;
    }
    
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
}


/* DESKTOP */
@media all and (min-width:1200px) {
    .topnav {
        width: 80%;
        /* height: 45px; */
    }
}

/* TABLET */
@media all and (min-width:501px) and (max-width:1199px) {
    .topnav {
        width: 90%;
    }
}

/* PHONE */
@media all and (max-width:500px) {
    .topnav {
        width: 100%;
    }
}
